# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
Introduced with some popular DataScience languages, 
 Introduced with some popular DataScience libraries,
 Introduced with inserting markdown cells and code cells,
 Introduced with arithmetic expressions in Python,
 Introduced with inserting commments in our code cell

Some of the popular languages that Data Scientists use are:

 1.Python
    
2.R
    
3.Julia
    
4.SQL

Some of the commonly used libraries used by Data Scientists include:

1.Numpy

2.Pandas

3.Matplotlib

4.Seaborn

5.Scikit-learn

6.TensorFlow

| Data Science Tools |
|--------------------|
|Jupyter Notebooks   |
|RStudio             |
|VS Code (Visual Studio Code)|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Saeed Alipour